@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text{
  height: 50px;
  overflow:hidden;
  text-align: center;

}
.text__item{
 
 height: 100px;
 
  animation: move 15s ease-in-out infinite alternate;
  text-align: center;
}

@keyframes move {
  25%{
transform: translateY(-50px);
  }
  50%{
    transform: translateY(-100px);
  }
 

  
}
.text__item_list{
 
  height: 50px;
 
  left:-80px;
  font-size: 23px;
  font-weight: bold;
  display: flex auto;
 
  text-align: center;
}


